.picker {
  box-sizing: initial;
  width: 513px;
  background: #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), 0 8px 16px rgba(0, 0, 0, 0.15);
}

.head {
  height: 23px;
  color: #4d4d4d;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  background-image: linear-gradient(-180deg, #f0f0f0 0%, #d4d4d4 100%);
  border-bottom: 1px solid #b1b1b1;
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.02);
}

.body {
  display: flex;
  padding: 15px 15px 0;
}

.saturation {
  position: relative;
  width: 256px;
  height: 256px;
  overflow: hidden;
  border: 2px solid #b3b3b3;
  border-bottom: 2px solid #f0f0f0;
}

.hue {
  position: relative;
  width: 19px;
  height: 256px;
  margin-left: 10px;
  border: 2px solid #b3b3b3;
  border-bottom: 2px solid #f0f0f0;
}

.controls {
  width: 180px;
  margin-left: 10px;

  .top {
    display: flex;
  }

  .previews {
    width: 60px;
  }

  .actions {
    flex: 1;
    margin-left: 20px;

    :global {
      .ant-btn {
        width: 100%;
        height: 25px;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
